/* Add CSS Styling */
.Class, .Class.cooler{
    background-color: rgb(253, 172, 205);
    font-family:'Verdana', 'DejaVu Sans', sans-serif;
} 
#firstid{
    color:hsl(240, 61%, 47%);
    font-size:36px;
} 
.Class.cooler{
    font-size: 24px;
} 
#secondid{
    background-color:rgb(125, 246, 129);
    font-size:24px;
    font-weight:bold;
}